body {
  background-color: #353a47;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body header#main-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

body header#main-header img#main-logo {
  border-radius: 50%;
  max-width: 200px;
}

body header#main-header h1.title {
  color: #ff2c75;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body main#main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

body main#main-content div.accordion .accordion-item {
  border-bottom: 1px solid #ffff;
  width: 250px;
  padding: 20px 0;
}

body main#main-content div.accordion .accordion-item a {
  text-align: left;
  width: 100%;
  padding: 10px 0;
  color: #ff2c75;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
}

body main#main-content div.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #ff2c75;
}

body main#main-content div.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #ff2c75;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

body main#main-content div.accordion button:hover, body main#main-content div.accordion button:focus {
  cursor: pointer;
  color: #ff2c75;
}

body main#main-content div.accordion button:hover::after, body main#main-content div.accordion button:focus::after {
  cursor: pointer;
  color: #ff2c75;
  border: 1px solid #ffff;
}

body main#main-content div.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

body main#main-content div.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

body main#main-content div.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

body main#main-content div.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

body main#main-content div.accordion button[aria-expanded='true'] {
  color: #ff2c75;
}

body main#main-content div.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

body main#main-content div.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

body main#main-content div.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

body main#main-content div.accordion .accordion-content div#twitch-embed {
  width: 80%;
  min-width: 320px;
}
/*# sourceMappingURL=styles.css.map */