$bg: #353a47;
$title: #ff2c75;
$white: #ffff;

body {
    background-color: $bg;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    header#main-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        img#main-logo {
            border-radius: 50%;
            max-width: 200px;
        }
        h1.title {
            color: $title;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
    main#main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        div.accordion {
            .accordion-item {
                border-bottom: 1px solid $white;
                width: 250px;
                padding: 20px 0;
                a {
                    text-align: left;
                    width: 100%;
                    padding: 10px 0;
                    color: $title;
                    font-size: 1.15rem;
                    font-weight: 400;
                    border: none;
                    background: none;
                    outline: none;
                    text-decoration: none;
                
                }
                button[aria-expanded='true'] {
                    border-bottom: 1px solid $title;
                }
            }
        
            button {
                position: relative;
                display: block;
                text-align: left;
                width: 100%;
                padding: 1em 0;
                color: $title;
                font-size: 1.15rem;
                font-weight: 400;
                border: none;
                background: none;
                outline: none;
        
                &:hover,
                &:focus {
                    cursor: pointer;
                    color: $title;
        
                    &::after {
                        cursor: pointer;
                        color: $title;
                        border: 1px solid $white;
                    }
                }
        
                .accordion-title {
                    padding: 1em 1.5em 1em 0;
                }
        
                .icon {
                    display: inline-block;
                    position: absolute;
                    top: 18px;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    border: 1px solid;
                    border-radius: 22px;
        
                    &::before {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 9px;
                        left: 5px;
                        width: 10px;
                        height: 2px;
                        background: currentColor;
                    }
        
                    &::after {
                        display: block;
                        position: absolute;
                        content: '';
                        top: 5px;
                        left: 9px;
                        width: 2px;
                        height: 10px;
                        background: currentColor;
                    }
                }
            }
        
            button[aria-expanded='true'] {
                color: $title;
        
                .icon {
                    &::after {
                        width: 0;
                    }
                }
        
                +.accordion-content {
                    opacity: 1;
                    max-height: 100%;
                    transition: all 200ms linear;
                    will-change: opacity, max-height;
                }
            }
        
            .accordion-content {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 200ms linear, max-height 200ms linear;
                will-change: opacity, max-height;
                div#twitch-embed {
                    width: 80%;
                    min-width: 320px;
                }
            }
        }
    }
}

